<section class="container mb-5">
    <div class="row rer">
    <div class="col-12 text-center mt-5">
        <h2 class="title-number mb-5">Más información</h2>
    </div>
        <div class="row  timeline-container ">
            <div class="row timeline ">
                <div class="timeline-item col-4">
                    <div class="icons d-flex justify-content-center">
                        <div class="timeline-icon d-flex justify-content-center">1</div>
                    </div>
                    
                    <div class="timeline-content">
                        <h3 class="text-center">Esto es una prueba</h3>
                        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="timeline-item col-4">
                    <div class="icons d-flex justify-content-center">
                        <div class="timeline-icon d-flex justify-content-center">2</div>
                    </div>
                    <div class="timeline-content">
                        <h3 class="text-center">Esto es una prueba</h3>
                        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="timeline-item col-4">
                    <div class="icons d-flex justify-content-center">
                        <div class="timeline-icon d-flex justify-content-center">3</div>
                    </div>
                    <div class="timeline-content">
                        <h3 class="text-center">Esto es una prueba</h3>
                        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
</section>