<header class="container-fluid mb-4">
    <div class="container">
        <div class="row">
             <div class="col-12 conteiner-image"> 
                    <div class="row pt-5">
                        <div class="col-2 text-white pag-of d-flex mb-5">
                            <img src="https://cdn2.thedogapi.com/images/IBkYVm4v1.jpg" alt="" class="w-25 image-user"/>
                            <strong>PaginaOficial</strong>
                        </div>
                    </div>  
                </div>
                <div class="col-12 text-white mb-2">
                    <h1>Quieres programar?</h1>
                </div>
                <div class="col-12 text-white my-2">
                    <p>Dale click al boton y aprende a programar, es muy facil y sencillo, no te pierdas.</p>
                </div>
                <div class="col-12 pb-4">
                    <a type="button" class="btn btn-danger w-25" href="https://www.facebook.com/danielmauricio.perezrojas?locale=es_LA" target="_blank"><strong>Ingresa aqui</strong></a>
                </div>
        </div>
    </div>
</header>
